.container{
  margin: 50px auto;
}
button{
  cursor: pointer;
  color:#fff !important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.3rem 2rem;
  height: 42px;
}
input{
  height: 42px;
  border: #EEEEEE solid 2px;
  padding: 16px;
}
input:focus, input:focus-visible{
  border-color: rgb(243, 65, 65, 0.5);;
}
select{
  height: 42px;
  width: 100px;
}
ul{
  padding-left: 0px;
  margin: 0px;
  margin-top:16px;
  padding: 24px;
  border: #EEEEEE 1px solid;
  background-color: #F7F7F7;
}
ul li{
  list-style: none;
  height: 42px;
  border: #EEEEEE solid 1px;
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: #fff;
}
ul li:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
ul li:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
ul li svg{
  margin-right: 8px;
  color: #019267;
}
.espenses-list li svg{
  color: #DD4A48;
}
.income-list li svg{
  color: #019267;
}
.espenses-list li, .income-list li {
  justify-content: space-between;
}
.tech-primary{
  background-color: #0d6efd ;
  border-color: #0d6efd ;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: 1s;
  opacity: 1;
}
.tech-primary:active {
  background-color: #1152b2;
  border-color: #1152b2;
}
.tech-primary:focus {
  background-color: #0d6efd;
  border-color: rgb(13, 110, 253);
  box-shadow: 0 0 0 2px rgb(13, 110, 253, 0.5);
}
.tech-primary:hover {
  opacity: 0.8;
  position: relative;
  top: -2px;
}
.tech-secondary{
  background-color: #F55353 ;
  border-color: #F55353 ;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: 1s;
}
.tech-secondary:active {
  background-color: #ee4141;
  border-color: #ee4141;
}
.tech-secondary:focus {
  background-color: #f34141;
  border-color: #f34141;
  box-shadow: 0 0 0 2px rgb(242, 71, 71, 0.5);
}
.tech-secondary:hover {
  background-color: #f34141;
  border-color: #f34141;
}
.top-button{
  margin-bottom: 48px;
}

input #recurrent{
  padding: 0px;
}
.form-check-inline{
  margin-right: 0px;
}

.btn-group{
  margin: 12px 0 32px 0;
}

.form-check{
  display: flex;
  align-items: center;
}
input[type=checkbox] {
  padding: 10px;
}
.recurrent-group{
  display: flex;
}
.recurrent-group select{
  width: 50%;
}
.recurrent-number{
  width: 50%;
}
.badge{
  background-color: #ffc107;
  font-size: 11px;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
}
.espenses-list .amount {
  color: #ee4141;
}
.income-list .amount {
  color: #019267;
}
.amount-area{
  display: flex;
  align-items: center;
}
.total {
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  margin-top: 8px;
  margin-right: 24px ;
}
.totalExpenses {
  color: #DD4A48;
}

.totalIncomes{
  color: #019267;
}

input[name="recurrent"]{
  margin-right: 8px;
}